#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  background-color: rgb(184, 229, 230);
}

.form-container{
  background-color: white;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
}

.error{
  color: red;
}

.signupform-container{
  background-color: white;
  height: 460px;
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
}
.input-div{
  margin: 30px;
}
.input-div input{
  width: 100%;
}

.input-div label{
  display: block;
  text-align: left;
}
.form-container button{
  background-color: rgb(28, 210, 28);
  margin-bottom: 5px;
}
.signupform-container button{
  background-color: rgb(28, 210, 28);
  margin-bottom: 5px;
}